<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <google>
            <serverside_analytics>
                <trigger_on_event>2</trigger_on_event>
            </serverside_analytics>
        </google>
    </default>
</config>
