<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Api\CartRepositoryInterface">
        <plugin name="SaveGaUserDataToDb"
                type="Elgentos\ServerSideAnalytics\Plugin\SaveGaUserDataToDb"/>
    </type>

    <type name="Elgentos\ServerSideAnalytics\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Elgentos\ServerSideAnalytics\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">serversideanalytics</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Elgentos\ServerSideAnalytics\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Elgentos\ServerSideAnalytics\Setup\UpgradeData">
        <arguments>
            <argument name="configWriter" xsi:type="object">Magento\Framework\App\Config\Storage\WriterInterface</argument>
        </arguments>
    </type>

    <type name="Elgentos\ServerSideAnalytics\Service\UserDataService">
        <shared>true</shared>
    </type>
</config>
