<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_payment_pay">
        <observer name="elgentos_serversideanalytics_sales_order_payment_pay_observer" instance="Elgentos\ServerSideAnalytics\Observer\SendPurchaseEvent"/>
    </event>

    <event name="checkout_submit_all_after">
        <observer name="elgentos_serversideanalytics_sales_order_submit_after" instance="Elgentos\ServerSideAnalytics\Observer\SaveOrderIdToGaUserData"/>
    </event>

    <event name="test_event_for_serversideanalytics">
        <observer name="elgentos_serversideanalytics_observer" instance="Elgentos\ServerSideAnalytics\Observer\SendPurchaseEvent"/>
    </event>
</config>
