<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="google" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="serverside_analytics" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>ServerSide Google Analytics Options</label>
                <field id="ga_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Analytics 4 Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_secret" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API Secret</label>
                    <depends>
                        <field id="google/serverside_analytics/ga_enabled">1</field>
                    </depends>
                </field>
                <field id="measurement_id" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Google Analytics Measurement Id</label>
                    <comment><![CDATA[For example, G-12384573]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/ga_enabled">1</field>
                    </depends>
                </field>
                <field id="fallback_session_id_generation_mode" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Fallback Session id Mode</label>
                    <source_model>Elgentos\ServerSideAnalytics\Model\Source\Fallback</source_model>
                    <comment><![CDATA[Select the session id generation mode when no session id is available due to adblockers]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/ga_enabled">1</field>
                    </depends>
                </field>
                <field id="fallback_session_id" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Fallback session id</label>
                    <comment><![CDATA[The default fallback session id. One session id for all missing]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/fallback_session_id_generation_mode">1</field>
                    </depends>
                </field>
                <field id="fallback_session_id_prefix" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Fallback Session Id Prefix</label>
                    <comment><![CDATA[Prefix for session id so they are unique with a default prefix. Limit this on 4 numbers]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/fallback_session_id_generation_mode">3</field>
                    </depends>
                </field>
                <field id="trigger_on_event" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Triggering event</label>
                    <source_model>Elgentos\ServerSideAnalytics\Model\Source\TriggerEvent</source_model>
                    <comment><![CDATA[At what point in the order's life do we want Google Analytics to know about it?]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/ga_enabled">1</field>
                    </depends>
                </field>
                <field id="currency_source" translate="label" type="select" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Currency source</label>
                    <source_model>Elgentos\ServerSideAnalytics\Model\Source\CurrencySource</source_model>
                    <comment><![CDATA[This should be 'Currency of the order' in most cases. If however you want the 'global' currency code to be send with the order-value choose 'Default store currency'.]]></comment>
                    <depends>
                        <field id="google/serverside_analytics/ga_enabled">1</field>
                    </depends>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Debug Mode</label>
                    <comment><![CDATA[<strong>Warning:</strong> When this is enabled, transactions will not be pushed to Google Analytics, only debugged]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_logging" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Logging</label>
                    <comment><![CDATA[When enabled, this will log the requests done to Google Analytics]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
